<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device- , initial-scale=1.0">
    <title>Edit Comment</title>
</head>
<body>
   <h1>Edit</h1>
   <form method="POST" action="/comments/<%=comment.id%>?_method=PATCH">
   <textarea name ="comment" id="" rows="10" cols="30">
       <%= comment.comment %>
   </textarea>
   <button>Save</button>
</form>
</body>
</html>