<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device- , initial-scale=1.0">
    <title>Comment - New</title>
</head>
<body>
   <h2>Make a new comment</h2>
  <form action="/comments" method="post" >
      <section>
          <label for="username">Enter username : </label>
          <input type="text" id="username" name="username" placeholder="username">
      </section>
      <section>
        <label for="comment">Enter comment text : </label>
        <br>
       <textarea name="comment" id="comment" cols="10" rows="5"></textarea>
    </section>
    <button>Submit</button>
    <a href="/comments">Back to Comments</a>
  </form>
</body>
</html>