<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device- , initial-scale=1.0">
    <title>Dogs</title>
</head>
<body>
    <h1> All the dogs</h1>
    <ul> <% for(let dog of dogs) { %>
        <li> <%= dog %></li>
        <% } %>

    </ul>
</body>
</html>