<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device- , initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--<h1> the home page <%= 4+5+10 %></h1>-->
    <h1> the home page <%= 'hello world'.toUpperCase() %></h1>
   <p>Orchid, (family Orchidaceae), any of nearly 1,000 genera and more than
        25,000 species of attractively flowered plants distributed throughout 
        the world, especially in wet tropics. Orchidaceae is a member of Asparagales,
         an order of monocotyledonous flowering plants that also includes the asparagus
          and iris families.A</p>

    <p>
        The Orchidaceae are a diverse and widespread family of flowering plants, 
        with blooms that are often colourful and fragrant, commonly known as the 
        orchid family. Along with the Asteraceae, they are one of the two largest
         families of flowering plants.
    </p>
</body>
</html>